<div class="my-3 text-center">
  <h2 class="text-light">Success! Please use this link:</h2>
    <h4><a href="/" class="text-decoration-none">Link</a></h3>
    <button class="btn btn-primary">複製</button>
</div>